            <link rel="stylesheet" href="/css/styles.css">


<body id="bimage">

                
    
                    <div class="fullscreen-bg">
                            <video muted autoplay poster="assets/images/still.png" class="fullscreen-bg__video">
                               
                                <source src="assets/render2.mp4" type="video/mp4">
                           
                            </video>
                        </div>
            
    
              
    

</body>






{{!-- <h1>
  Welcome to our demo page to learn how to use sequelize!
</h1>

<h2>
  Login to utilize our messaging system!
</h2> --}}

<div id="fbbutton">
  <!-- facebook login button, scope decides what is passed but you have to specify on the facebook page for certain things -->
  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>

</div>





<button id="logout"> Logout</button> 



<script type="text/javascript" src="../js/js.js"></script>